<!DOCTYPE html/>
<html ng-app="adminApp">
<head>
    <title>admin</title>
    <% styles.forEach(function (style) { %>
    <link rel="stylesheet" href="<%= style %>"/>
    <% }) %>
    <script type="text/javascript">
        var themeColour = 'black';
    </script>
    <% scripts.forEach(function (script) { %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
</head>
<body>
    <div ng-controller="NavCtrl">
        <nav class="navbar-default navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">FlyBoard</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: active === 'dashboard'}"><a href="#dashboard">仪表盘</a></li>
                        <li ng-class="{active: active === 'dataSource'}"><a href="#dataSource">数据源</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div ng-view>
    </div>

</body>
</html>