<!DOCTYPE html/>
<html ng-app="adminApp">
<head>
    <title>admin</title>
    <% styles.forEach(function (style) { %>
    <link rel="stylesheet" href="<%= style %>"/>
    <% }) %>
    <script type="text/javascript">
        var themeColour = 'black';
    </script>
    <% scripts.forEach(function (script) { %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
    <% socketFiles.forEach(function (file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }) %>
</head>
<body>
    <div nav></div>

    <div class="admin" ng-if="project">
        <div ng-view></div>
    </div>
</body>
</html>