<!DOCTYPE html/>
<html ng-app="adminApp">
<head>
    <title>admin</title>
    <% styles.forEach(function (style) { %>
    <link rel="stylesheet" href="<%= style %>"/>
    <% }) %>
    <script type="text/javascript">
        var themeColour = 'black';
    </script>
    <% scripts.forEach(function (script) { %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
</head>
<body>
    <div ng-controller="NavCtrl">
        <nav class="navbar-default navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">FlyBoard</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/stat">数据</a></li>
                        <li class="active"><a href="/admin#dataSource">数据源</a></li>
                    </ul>

                    <!--<ul class="nav navbar-nav navbar-right select-project">-->
                    <div class="btn-group select-project">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          {{project.name}}
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="project in projects"><a href="" ng-click="selectProject(project)">{{project.name}}</a></li>
                        </ul>
                     </div>
                    <!--</ul>-->
                </div>
            </div>
        </nav>
    </div>

    <div ng-view>
    </div>

</body>
</html>