<!DOCTYPE html/>
<html ng-app="indexApp">
<head>
    <title><%= title %></title>
    <% styles.forEach(function (style) { %>
        <link rel="stylesheet" href="<%= style %>" />
    <% }) %>
    <script type="text/javascript">
        var themeColour = 'black';
    </script>
    <% scripts.forEach(function (script) { %>
        <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
</head>
<body class="black flyboard-app" ng-controller="SlideCtrl" ng-class="{'view-animate': slideMode}">
    <div ng-controller="NavCtrl" ng-init="unfold = false">
        <div class="cf-nav" ng-class="{'cf-nav-state-min': !unfold, 'cf-nav-state-max': unfold}">
            <a href="" class="cf-nav-toggle" ng-click="unfold = !unfold">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <ul>
                <li ng-repeat="item in dashboards" class="{{item.id === dashboard.id ? 'current ' : null}} cf-nav-shortcut">
                    <a href="#/dashboards/{{item.id}}" class="{{ item.id === dashboard.id ? 'current active' : null}}" ng-click="unfold = !unfold">
                        <span class="cf-nav-min">{{$index + 1}}</span>
                        <span class="cf-nav-max">{{item.name}}</span>
                    </a>
                </li>
            </ul>
            <timer data-phase="{{phase}}" ng-show="slideMode"></timer>
        </div>
    </div>

    <div ng-view class="dashboard"></div>
</body>
</html>