<!DOCTYPE html/>
<html ng-app="indexApp">
<head>
    <title><%= title %></title>
    <% styles.forEach(function (style) { %>
    <link rel="stylesheet" href="<%= style %>"/>
    <% }) %>
    <script type="text/javascript">
        var themeColour = 'black';
    </script>
    <% scripts.forEach(function (script) { %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
</head>
<body class="black flyboard-app" ng-controller="SlideCtrl" ng-class="{'view-animate': slideMode}">
<div ng-controller="NavCtrl">
    <div class="opt-nav" ng-class="{'opt-nav-unfold': unfoldOptNav, 'opt-nav-fold': !unfoldOptNav}"
         ng-mouseenter="unfoldOptNav = true" ng-mouseleave="unfoldOptNav = false">

        <div class="content">
            <div class="btn-group select-project-btn">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    {{project.name}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu" ng-controller="EditProjectModalCtrl">
                    <li ng-repeat="project in projects">
                        <a href="" ng-click="selectProject(project)">{{project.name}}</a>
                        <a href="" class="edit-project" ng-click="open(projects, project)"><i class="fa fa-pencil-square-o"></i></a>
                    </li>
                    <li><a href="" class="new-project" ng-click="open(projects)">------新建------</a></li>
                </ul>
            </div>

            <div class="edit-layout-btn"><a href=""><span class="glyphicon glyphicon-cog fa-lg" ng-click="toggleEditLayoutMode()"></span></a></div>
        </div>

        <div class="unfold-icon">
            <i class="fa" ng-class="{'fa-chevron-down': !unfoldOptNav, 'fa-chevron-up': unfoldOptNav}"></i>
        </div>
    </div>

    <div class="cf-nav" ng-class="{'cf-nav-state-min': !unfold, 'cf-nav-state-max': unfold}">
        <a href="" class="cf-nav-toggle" ng-click="unfold = !unfold">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div sticky ng-class="{'cf-nav-min-overflow-hidden': !unfold}">
            <ul ng-if="dashboards.length">
                <li ng-repeat="item in dashboards"
                    class="{{item.id === dashboard.id ? 'current ' : null}} cf-nav-shortcut">
                    <a href="#/projects/{{project.id}}/dashboards/{{item.id}}"
                       class="{{ item.id === dashboard.id ? 'current active' : null}}" ng-click="setUnfold(false)">
                        <span class="cf-nav-min">{{$index + 1}}</span>
                        <span class="cf-nav-max">{{item.name}}</span>
                    </a>

                    <span ng-if="unfold">
                        <span ng-controller="EditDashboardModalCtrl">
                            <a href="" class="edit-dashboard" ng-click="open(project.id, item)">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                        </span>
                        <span ng-controller="ConfirmDeleteDashboardCtrl">
                            <a href="" class="delete-dashboard" ng-click="open(project.id, item)">
                                <i class="fa fa-minus-circle"></i>
                            </a>
                        </span>
                    </span>
                </li>

                <li class="cf-nav-shortcut" ng-controller="EditDashboardModalCtrl">
                    <a href="" ng-click="open(project.id)" class="new-dashboard">
                        <i class="fa fa-plus-circle cf-nav-min"></i>
                    </a>
                </li>
            </ul>

        </div>

        <timer data-phase="{{phase}}" ng-show="slideMode"></timer>

    </div>
</div>

<div ng-view class="dashboard"></div>
</body>
</html>