<!DOCTYPE html/>
<html ng-app="indexApp">
<head>
    <title><%= title %></title>
    <% styles.forEach(function (style) { %>
    <link rel="stylesheet" href="<%= style %>"/>
    <% }) %>
    <script type="text/javascript">
        var themeColour = 'black';
    </script>
    <% scripts.forEach(function (script) { %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
    <% socketFiles.forEach(function (file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }) %>
</head>
<body class="black flyboard-app" ng-controller="SlideCtrl" ng-class="{'view-animate': slideMode}">
    <div ng-controller="NavCtrl">
        <nav class="navbar-default navbar-inverse" role="navigation" ng-controller="EditProjectModalCtrl">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ng-href="{{NavUrl('index')}}">FlyBoard</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <div class="btn-group dropdown-btn right-divider-vertical select-project" ng-if="project">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          {{project.name}}
                          <span class="caret" ng-if="project"></span>
                        </button>
                        <ul class="dropdown-menu pull-left" role="menu">
                            <li ng-repeat="project in projects" class="project-item">
                                <a href="" class="project-name" ng-click="selectProject(project)">{{project.name}}</a>
                                <a href="" class="edit-project" ng-click="open(projects, project)"><i class="fa fa-pencil-square-o"></i></a>
                            </li>
                            <li ng-if="user.scope === 2"><a href="" class="new-project" ng-click="open(projects)">-------- {{ 'CREATE' | translate }} --------</a></li>
                        </ul>
                    </div>

                    <div class="btn-group dropdown-btn right-divider-vertical select-project" ng-if="project === null && user && user.scope === 2">
                        <button type="button" class="btn btn-default dropdown-toggle" ng-click="open(projects, project)">
                            ＋{{ 'PROJECT' | translate }}
                        </button>
                    </div>

                    <ul class="nav navbar-nav">
                        <li><a ng-href="{{NavUrl('stat')}}">{{ 'DATA' | translate }}</a></li>
                        <li><a ng-href="{{NavUrl('admin')}}">{{ 'DATASOURCE_ADMINISTRATION' | translate }}</a></li>
                    </ul>

                    <div class="switch-slide navbar-right-btn" ng-if="project">
                        <a href="" title="{{ 'SLIDE_SWITCH' | translate }}"  class="fa fa-lg"
                           ng-class="{'fa-toggle-on': slideMode, 'fa-toggle-off': !slideMode, 'fa-toggle-disabled': editLayoutMode}"
                           ng-click="toggleSlideMode()"></a>
                    </div>

                    <div class="edit-layout navbar-right-btn" ng-if="project">
                        <a href="" title="{{ 'EDIT_LAYOUT' | translate }}" class="glyphicon glyphicon-cog fa-lg"
                           ng-class="{'edit-on': !slideMode && editLayoutMode, 'edit-off': !slideMode && !editLayoutMode, 'edit-disabled': slideMode}"
                           ng-click="toggleEditLayoutMode()"></a>
                    </div>

                    <div class="btn-group dropdown-btn navbar-right-btn user-account" ng-if="user">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{ user.email }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="/profile">{{ 'PERSONAL_INFORMATION' | translate }}</a></li>
                            <li><a href="/logout">{{ 'LOGOUT' | translate }}</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>

        <div class="cf-nav" ng-class="{'cf-nav-state-min': !unfold, 'cf-nav-state-max': unfold}">
            <div>
                <a href="" class="cf-nav-toggle" ng-click="setUnfold(!unfold)">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div ng-if="unfold" class="dashboard-filter">
                    <span>
                        <a href="" ng-click="togglePublicSelection()">
                            <i class="fa" ng-class="{'fa-check-square-o': publicSelected, 'fa-square-o': !publicSelected}"></i>
                            {{ 'PUBLIC' | translate }}
                        </a>
                    </span>

                    <span>
                        <a href="" ng-click="togglePrivateSelection()">
                            <i class="fa" ng-class="{'fa-check-square-o': privateSelected, 'fa-square-o': !privateSelected}"></i>
                            {{ 'PRIVATE' | translate }}
                        </a>
                    </span>
                </div>
            </div>

            <div sticky class="dashboard-list"
                 ng-class="{'cf-nav-min-overflow-hidden': !unfold}"
                 ng-if="project">

                <ul>
                    <li ng-repeat="item in dashboards"
                        class="{{item.id === dashboard.id ? 'current ' : null}} cf-nav-shortcut">
                        <a href="#/projects/{{project.id}}/dashboards/{{item.id}}?public_filter={{publicSelected}}&private_filter={{privateSelected}}"
                           class="{{ item.id === dashboard.id ? 'current active' : null}}">
                            <span class="cf-nav-min">{{$index + 1}}</span>
                            <span class="cf-nav-max">{{item.name}}</span>
                        </a>

                        <span ng-if="unfold">
                            <span ng-controller="EditDashboardModalCtrl">
                                <a href="" class="edit-dashboard" ng-click="open(project.id, item)">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                            </span>
                            <span ng-controller="ConfirmDeleteDashboardCtrl">
                                <a href="" class="delete-dashboard" ng-click="open(project.id, item)">
                                    <i class="fa fa-minus-circle"></i>
                                </a>
                            </span>
                        </span>
                    </li>

                    <li class="cf-nav-shortcut" ng-controller="EditDashboardModalCtrl">
                        <a href="" ng-click="open(project.id)" class="new-dashboard">
                            <i class="fa fa-plus-circle cf-nav-min"></i>
                        </a>
                    </li>
                </ul>

            </div>

            <timer data-phase="{{phase}}" ng-show="slideMode"></timer>

        </div>
    </div>

    <div ng-view class="dashboard" ng-class="{'cf-nav-state-min': !cfNavUnfold, 'cf-nav-state-max': cfNavUnfold}"></div>
</body>
</html>