<!DOCTYPE html/>
<html ng-app="indexApp">
<head>
    <title><%= title %></title>
    <% styles.forEach(function (style) { %>
        <link rel="stylesheet" href="<%= style %>" />
    <% }) %>
    <script type="text/javascript">
        var themeColour = 'black';
    </script>
    <% scripts.forEach(function (script) { %>
        <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
</head>
<body class="black flyboard-app" ng-controller="SlideCtrl" ng-class="{'view-animate': slideMode}">
    <div ng-controller="NavCtrl">
        <div class="cf-nav" ng-class="{'cf-nav-state-min': !unfold, 'cf-nav-state-max': unfold}">
            <a href="" class="cf-nav-toggle" ng-click="unfold = !unfold">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div sticky ng-class="{'cf-nav-min-overflow-hidden': !unfold}">
                <ul>
                    <li ng-repeat="item in dashboards" class="{{item.id === dashboard.id ? 'current ' : null}} cf-nav-shortcut">
                        <a href="#/dashboards/{{item.id}}" class="{{ item.id === dashboard.id ? 'current active' : null}}" ng-click="setUnfold(false)">
                            <span class="cf-nav-min">{{$index + 1}}</span>
                            <span class="cf-nav-max">{{item.name}}</span>

                            <span ng-controller="EditDashboardModalCtrl">
                                <a href="" class="edit-dashboard" ng-click="open(item)" ng-if="unfold"><i class="fa fa-pencil-square-o"></i></a>
                            </span>

                            <span ng-controller="confirmDeleteDashboardCtrl">
                                <a href="" class="delete-dashboard" ng-click="open(item)" ng-if="unfold"><i class="fa fa-minus-circle"></i></a>
                            </span>
                        </a>
                    </li>
                    <li class="cf-nav-shortcut" ng-controller="EditDashboardModalCtrl">
                        <a href="" ng-click="open()" class="new-dashboard">
                            <i class="fa fa-plus-circle cf-nav-min"></i>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="edit-layout"><a href=""><span class="glyphicon glyphicon-cog" ng-click="toggleEditLayoutMode()"></span></a></div>

            <timer data-phase="{{phase}}" ng-show="slideMode"></timer>

        </div>
    </div>

    <div ng-view class="dashboard"></div>
</body>
</html>