<!DOCTYPE html/>
<html>
<head>
    <title><%= title %></title>
    <% styles.forEach(function (style) { %>
        <link rel="stylesheet" href="<%= style %>" />
    <% }) %>
    <script type="text/javascript">
        var themeColour = 'black';
    </script>
    <% scripts.forEach(function (script) { %>
        <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
</head>
<body class="black">
<div class="cf-nav cf-nav-state-min">
    <a href="" class="cf-nav-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>

    <ul>
        <li class="current cf-nav-shortcut">
            <a href="layout-1.html" class="current active">
                <span class="cf-nav-min">1</span>
                <span class="cf-nav-max">Layout 1</span>
            </a>
            <!--
            <ul>
                <li><a href="">Sub menu</a></li>
                <li><a href="">Sub menu</a></li>
                <li><a href="">Sub menu</a></li>
            </ul>
            -->
        </li>
        <li class="cf-nav-shortcut">
            <a href="layout-2.html">
                <span class="cf-nav-min">2</span>
                <span class="cf-nav-max">Layout 2</span>
            </a>
        </li>
        <li class="cf-nav-shortcut">
            <a href="layout-3.html">
                <span class="cf-nav-min">3</span>
                <span class="cf-nav-max">Layout 3</span>
            </a>
        </li>
        <li class="cf-nav-shortcut">
            <a href="layout-4.html">
                <span class="cf-nav-min">4</span>
                <span class="cf-nav-max">Layout 4</span>
            </a>
        </li>
        <li>
            <a href="layout-4.html">
                <span class="cf-nav-min">•</span>
                <span class="cf-nav-max">Example with no shortcut</span>
            </a>
        </li>
    </ul>
</div>

<div class="cf-container cf-nav-active">
    <div class="row">
        <% widgets.forEach(function (widget){ %>
            <% if(widget.type == 1) { %>
                 <% include widgets/number %>
            <% } %>
        <% }) %>
    </div>
</div>
</body>
</html>