doctype html
html
  head
    title= title
    each style in styles
      link(rel = 'stylesheet', href = style)
    each script in scripts
      script(src = script, type = 'text/javascript')
  body
    block content
