<html ng-app="statApp">
<head>
    <title><%= title %></title>
    <% styles.forEach(function (style) { %>
    <link rel="stylesheet" href="<%= style %>"/>
    <% }) %>
    <script type="text/javascript">
        var themeColour = 'white';
    </script>
    <% scripts.forEach(function (script) { %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
</head>
<body>

    <div nav ></div>

    <div class="stat">
        <div class="stat-nav selected-datasource"  ng-controller="StatNavCtrl" ng-if="project">
            <div class="stat-btn-groups">
                <button type="button" class="btn btn-default" ng-click="addContrastDataSource()">添加对比数据源</button>
                <button type="button" class="btn btn-primary" ng-click="submitChange()">提交修改</button>

                <div class="btn-group period">
                  <button type="button" class="btn btn-default" ng-class="{'active': selectedPeriod === period.value}" ng-repeat="period in periodTypes" ng-click="setPeriod(period.value)">{{period.text}}</button>
                </div>
            </div>

            <div class="clearfix">
                <div class="selected-datasource-wrapper" ng-repeat="dataInfo in dataInfos">
                    <select-data-source ng-model="dataInfo" map="dataSourceMap" op-type="{{dataInfos.length > 1 ? 'aggregation' : 'filter'}}" project-id="project.id"></select-data-source>
                    <button ng-click="delContrastDataSource(dataInfo)" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
            </div>

        </div>

        <div ng-view></div>

    </div>

</body>
</html>