<html ng-app="statApp">
<head>
    <title><%= title %></title>
    <% styles.forEach(function (style) { %>
    <link rel="stylesheet" href="<%= style %>"/>
    <% }) %>
    <script type="text/javascript">
        var themeColour = 'white';
    </script>
    <% scripts.forEach(function (script) { %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
</head>
<body>

<nav class="navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid" ng-controller="NavCtrl">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">FlyBoard</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/stat">数据</a></li>
                <li><a href="/admin#dataSource">数据源管理</a></li>
            </ul>

            <div class="btn-group select-project" ng-if="project">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  {{project.name}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li ng-repeat="project in projects"><a href="" ng-click="selectProject(project)">{{project.name}}</a></li>
                </ul>
             </div>
        </div>
    </div>
</nav>

<div class="stat">
    <div class="stat-nav selected-datasource"  ng-controller="StatNavCtrl">

        <div class="stat-btn-groups">
            <button type="button" class="btn btn-default" ng-click="addContrastDataSource()">添加对比数据源</button>
            <button type="button" class="btn btn-primary" ng-click="submitChange()">提交修改</button>

            <div class="btn-group period">
              <button type="button" class="btn btn-default" ng-class="{'active': selectedPeriod === period.value}" ng-repeat="period in periodTypes" ng-click="setPeriod(period.value)">{{period.text}}</button>
            </div>
        </div>

        <div class="clearfix">
            <div class="selected-datasource-wrapper" ng-repeat="dataInfo in dataInfos">
                <select-data-source ng-model="dataInfo" map="dataSourceMap" op-type="{{dataInfos.length > 1 ? 'aggregation' : 'filter'}}" project-id="project.id"></select-data-source>
                <button ng-click="delContrastDataSource(dataInfo)" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
        </div>

    </div>

    <div ng-view></div>

</div>

</body>
</html>