table th, table td{
    text-align: center;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f7f3de;
}

.widget[data-type="4"] .content{
    display: -webkit-box;
    display: -webkit-flex;

    display: -moz-box;
    display: -moz-flex;

    display: -ms-flexbox;

    display: flex;

    /* 水平居中*/
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-pack:center;/* IE 10 */

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;/* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/

    /* 垂直居中 */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-align:center;/* IE 10 */

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.widget header p a{
    color: rgb(169, 169, 169);
}
.widget header p a:hover{
    text-decoration: none;
    cursor: hand;
}

#dashboard-form .form-group{
    margin-bottom: 30px;
}

.show-grid{
    margin-bottom: 3px;
    position: relative;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
}

.show-grid .widget-placeholder-wrap {
    padding: 0;
}
.show-grid .widget-placeholder{
    padding-top:10px;
    padding-bottom:10px;
    background-color:#eee;
    background-color:rgba(86,61,124,.15);
    border:1px solid #ddd;
    border:1px solid rgba(86,61,124,.2);
    padding-left: 80px;
    padding-right: 10px;
}

.show-grid button#add-col{
    margin: 5px 15px;
}

.show-grid .resize-span{
    position: absolute;
    height: 100%;
    padding: 0px 5px;
    right: -5px;
    top: 0px;
    z-index: 100;
    background-color: rgba(86,61,124,.2);
}

.show-grid .show-span{
    position: absolute;
}

button#add-row{
    margin-top: 15px;
}

.show-grid button#delete-col{
    position: absolute;
    left: 35px;
    top: 9px;
}

.show-grid button#edit-col{
    position: absolute;
    left: 0px;
    top: 9px;
}

.show-grid button:hover{
    text-decoration: none;
}

.widget {
    height: 100%;
    position: relative;
}
.widget .content {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 15px;
    width: auto;
    height: auto;
}
.widget .cf-svp .chart{
    position: relative;
}
.widget .cf-svp .chart .metrics {
    position: absolute;
    height: 100%;
    right: 50%;

    display: -webkit-box;
    display: -webkit-flex;

    display: -moz-box;
    display: -moz-flex;

    display: -ms-flexbox;

    display: flex;

    /* 水平居中*/
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-pack:center;/* IE 10 */

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;/* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/

    /* 垂直居中 */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-align:center;/* IE 10 */

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.widget .cf-svmc{
    white-space:nowrap;
}

.widget .timestamp{
    position: absolute;
    bottom: 5px;
    right: 0;
    font-size: 10px;
}

.stat {
    margin-left: 10%;
    margin-right: 10%;
}

.stat-nav {
    margin-top: 20px;
    margin-bottom: 65px;
    position: relative;
}

.stat .stat-data {
    margin-top: 50px;
}

.stat .stat-data table th, .stat .stat-data table td{
    text-align: left;
}

.stat-nav .new-datasource{
    position: absolute;
}

.dashboard {
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition-delay: 1s;
}

.dashboard.ng-leave.ng-leave-active {
  display: none;
}

.view-animate .dashboard.ng-enter, .view-animate .dashboard.ng-leave {
  display:block;
  width:100%;
  border-left:1px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.view-animate .dashboard.ng-enter {
  left:100%;
}
.view-animate .dashboard.ng-enter.ng-enter-active {
  left:0;
}
.view-animate .dashboard.ng-leave.ng-leave-active {
  left:-100%;
  display: block;
}