table th, table td{
    text-align: center;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #f7f3de;
}

a{
    text-decoration: none;
}

.permission-denied {
    margin-left: 35px;
}

.cf-nav ul li a {
    text-decoration: none;
}

.widget header p a{
    color: rgb(169, 169, 169);
}
.widget header p a:hover{
    text-decoration: none;
}

.widget i.fa-external-link-square {
    margin-left: 5px;
}

#dashboard-form .form-group{
    margin-bottom: 30px;
}

.show-grid{
    margin-bottom: 3px;
    position: relative;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
}

.show-grid .widget-placeholder-wrap {
    padding: 0;
}
.show-grid .widget-placeholder{
    padding-top:10px;
    padding-bottom:10px;
    background-color:#eee;
    background-color:rgba(86,61,124,.15);
    border:1px solid #ddd;
    border:1px solid rgba(86,61,124,.2);
    padding-left: 80px;
    padding-right: 10px;
}

.show-grid button#add-col{
    margin: 5px 15px;
}

.show-grid .resize-span{
    position: absolute;
    height: 100%;
    padding: 0px 5px;
    right: -5px;
    top: 0px;
    z-index: 100;
    background-color: rgba(86,61,124,.2);
}

.show-grid .show-span{
    position: absolute;
}

button#add-row{
    margin-top: 15px;
}

.show-grid button#delete-col{
    position: absolute;
    left: 35px;
    top: 9px;
}

.show-grid button#edit-col{
    position: absolute;
    left: 0px;
    top: 9px;
}

.show-grid button:hover{
    text-decoration: none;
}

.widget {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #2b2b2b;
    opacity: 0.75;
    padding: 5px;
}

.widget:after {
    background-color: #3b3b3b;
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 10px;
    right: 10px;
    z-index: -100;
}

.widget .content {
    position: absolute;
    top: 25px;
    left: 0;
    right: 10px;
    bottom: 20px;
    width: auto;
    height: auto;
}

.widget .cf-svp {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 25px;
}

.widget .cf-svp .chart{
    position: relative;
}
.widget .cf-svp .chart .metrics {
    position: absolute;
    height: 100%;
    right: 50%;

    display: -webkit-box;
    display: -webkit-flex;

    display: -moz-box;
    display: -moz-flex;

    display: -ms-flexbox;

    display: flex;

    /* 水平居中*/
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-pack:center;/* IE 10 */

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;/* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/

    /* 垂直居中 */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-align:center;/* IE 10 */

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.widget .cf-svp .chart .change{
    position: absolute;
    font-size: 3em;
    bottom: 18%;
    left: 0;
    right: 0;
}

.widget .cf-svp .chart .metrics .metric {
    font-size: 7em;
    line-height: 1;
    left: 50%;
}

.widget .cf-svmc{
    white-space:nowrap;
    height: 100%;
    text-align: center;
}

.widget .cf-svmc .flexWrapper{
    display: flex;
    align-items: flex-end;
    height: 60%;
}

.widget .cf-svmc .metric{
    width: 100%;
}

.widget .cf-svmc .change {
    height: 40%;
}

.widget .cf-svmc .arrow {
    margin-right: 10px;
}

.widget .timestamp{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 10px;
}

nav {
    margin-bottom: 30px;
}

.stat {
    margin-left: 10%;
    margin-right: 10%;
}

.stat-nav {
    margin-bottom: 25px;
    margin-top: 25px;
}

.stat-nav .selected-datasource-wrapper {
    margin-right: 10px;
}

.stat-nav .stat-btn-groups {
    margin-bottom: 10px;
    position: relative;
}

.stat-nav div.btn-group {
    margin-left: 10px;
}

.stat .stat-data {
    margin-top: 50px;
}

.stat .period {
    position: absolute;
    right: 0;
    top: 0;
}

.stat .stat-data table th,
.stat .stat-data table td{
    text-align: left;
}

.selected-datasource-wrapper {
    float: left;
}

.selected-datasource-wrapper button.close {
    display: inline-block;
    margin-top: 4px;
}
.flyboard-app {
    height: 100%;
    overflow: hidden;
}

.dashboard {
    margin-top: 50px;
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    width: 100%;
    display: block;
    border-left: 1px solid black;

    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition-delay: 1s;
}

.dashboard.ng-leave.ng-leave-active {
    display: none;
}

.view-animate .dashboard.ng-enter,
.view-animate .dashboard.ng-leave {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.view-animate .dashboard.ng-enter {
  left: 100%;
}

.view-animate .dashboard.ng-enter.ng-enter-active {
  left: 0;
}

.view-animate .dashboard.ng-leave.ng-leave-active {
  left: -100%;
  display: block;
}

.load {
    margin-left: 25px;
}

nav .select-project{
    float: left;
}

nav .select-project .dropdown-menu {
    margin-top: -10px;
}

nav .navbar-right-btn{
    float: right;
    margin-right: 20px;
}

.flyboard-app nav .edit-layout{
    padding-top: 16px;
}
.flyboard-app nav .switch-slide{
    padding-top: 18px;
}

.flyboard-app nav .edit-layout .edit-off,
.flyboard-app nav .switch-slide a{
    text-decoration: none;
    color: #a9a9a9;
}
.flyboard-app nav .edit-layout .edit-on{
    text-decoration: none;
    color: mediumspringgreen;
}
.flyboard-app nav .edit-layout .edit-disabled,
.flyboard-app nav .switch-slide .fa-toggle-disabled {
    color: #a9a9a9;
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
}

.flyboard-app nav .select-project li .edit-project {
    position: absolute;
    right: -25px;
    top: 4px;
    padding: 0 0 0 0;
}

.select-project .dropdown-menu li{
    margin-right: 40px;
}

/**** nav dropdown button ***/
nav .dropdown-btn .dropdown-menu li {
    position: relative;
    min-height: 26px;
}
nav .dropdown-btn .dropdown-toggle {
    border: none;
    color: #999;
    background-color: #222;
}
nav .dropdown-btn .dropdown-menu li a.edit-project:hover,
nav .dropdown-btn .dropdown-toggle:hover,
nav .dropdown-btn.open .dropdown-toggle {
    color: #fff;
    background-color: #222;
}
nav .dropdown-menu li a {
    color: #a9a9a9;
}
nav .open .dropedown-toggle,
nav .dropdown-btn .dropdown-menu li a:hover{
    background-color: #4f4f4f;
    color: #a9a9a9;
}
nav .dropdown-btn .dropdown-menu{
    background-color: #2b2b2b;
}
nav .dropdown-btn button{
    background-color: #000000;
    color: #fff;
    margin-top: 8px;
}

.cf-nav {
    margin-top: 50px;
}

.cf-nav .cf-nav-shortcut {
    position: relative;
}
.cf-nav .cf-nav-shortcut .edit-dashboard{
    position: absolute;
    left: 225px;
    top: 10px;
}

.cf-nav .cf-nav-shortcut .delete-dashboard {
    position: absolute;
    left: 250px;
    top : 10px;
}

.cf-nav .cf-nav-shortcut span .edit-dashboard:hover,
.cf-nav .cf-nav-shortcut span .delete-dashboard:hover{
    color: #fff;
    background-color: #333333;
}
.cf-nav .cf-nav-shortcut.current span .edit-dashboard:hover,
.cf-nav .cf-nav-shortcut.current span .delete-dashboard:hover{
    color: #fff;
    background-color: #2b2b2b;
}

.cf-nav .cf-nav-min-overflow-hidden {
    overflow: hidden;
}

timer {
    width: 1.5em;
    height: 1.5em;
    display: block;
    border-radius: 50%;
    background-color: #333333;
    position: absolute;
    left: 1.5px;
    bottom: 56px;
}

timer[data-phase='-1'] {
    display: none;
}

timer[data-phase='0'] {
    background-image:
        linear-gradient(90deg, transparent 50%, rgb(169, 169, 169) 50%),
        linear-gradient(90deg, rgb(169, 169, 169) 50%, transparent 50%);
}

timer[data-phase='1'] {
    background-image:
        linear-gradient(126deg, transparent 50%, rgb(169, 169, 169) 50%),
        linear-gradient(90deg, rgb(169, 169, 169) 50%, transparent 50%);
}
timer[data-phase='2']{
    background-image:
        linear-gradient(162deg, transparent 50%, rgb(169, 169, 169) 50%),
        linear-gradient(90deg, rgb(169, 169, 169) 50%, transparent 50%);
}
timer[data-phase='3']{
    background-image:
        linear-gradient(198deg, transparent 50%, rgb(169, 169, 169) 50%),
        linear-gradient(90deg, rgb(169, 169, 169) 50%, transparent 50%);
}
timer[data-phase='4']{
    background-image:
        linear-gradient(234deg, transparent 50%, rgb(169, 169, 169) 50%),
        linear-gradient(90deg, rgb(169, 169, 169) 50%, transparent 50%);
}
timer[data-phase='5']{
    background-image:
        linear-gradient(270deg, transparent 50%, rgb(169, 169, 169) 50%),
        linear-gradient(90deg, rgb(169, 169, 169) 50%, transparent 50%);
}
timer[data-phase='6']{
    background-image:
        linear-gradient(126deg, transparent 50%, #333333 50%),
        linear-gradient(90deg, rgb(169, 169, 169) 50%, transparent 50%);
}
timer[data-phase='7']{
    background-image:
        linear-gradient(162deg, transparent 50%, #333333 50%),
        linear-gradient(90deg, rgb(169, 169, 169) 50%, transparent 50%);
}
timer[data-phase='8']{
    background-image:
        linear-gradient(198deg, transparent 50%, #333333 50%),
        linear-gradient(90deg, rgb(169, 169, 169) 50%, transparent 50%);
}
timer[data-phase='9']{
    background-image:
        linear-gradient(234deg, transparent 50%, #333333 50%),
        linear-gradient(90deg, rgb(169, 169, 169) 50%, transparent 50%);
}
timer[data-phase='10']{
    background-image:
        linear-gradient(270deg, transparent 50%, #333333 50%),
        linear-gradient(90deg, rgb(169, 169, 169) 50%, transparent 50%);
}

.modal .modal-dialog { width: 700px; }

.dashboard .widget-display{
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    right: 0;
    transition-duration: 1.5s;
}

.dashboard.cf-nav-state-max .widget-display{
    margin-left: 265px;
    -webkit-transition: margin-left 0.3s ease;
    -moz-transition: margin-left 0.3s ease;
    -o-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease;
}
.dashboard.cf-nav-state-min .widget-display {
    margin-left: 0;
    -webkit-transition: margin-left 0.3s ease;
    -moz-transition: margin-left 0.3s ease;
    -o-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease;
}

.dashboard .layer,
.dashboard .layer .grid-layer {
    /*padding-top: 50px;*/
}

.dashboard .layer .controller {
    /*margin-top: 50px;*/
}

.dashboard .layer {
    background-color: #333333;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    right: 0;
    opacity: 0.5;
    height: 100%;
    z-index: 99;
}

.dashboard .layer .grid-layer {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.dashboard .layer .controller{
    position: absolute;
    border: 1px solid #ffffff;
    background-color: #000;
    opacity: 0.5;
}

.dashboard .layer .controller .delete-widget {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #ffffff;
}

.dashboard .layer .controller .edit-widget {
    position: absolute;
    top: 2px;
    right: 40px;
    color: #ffffff;
}

.dashboard .layer .controller .resizing {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.dashboard .layer .widget-controller .drag-inner-wrapper {
    height: 100%;
}

.dashboard .widget-wrapper {
    position: absolute;
}

.dashboard .layer .added-controller {
    background-color: darkred;
    opacity: 0.5;
}

.dashboard .layer .added-controller span {
    height: 100%;
    width: 50%;
    left: 25%;
    font-size: 45px;
    color: lightgreen;

    position: absolute;
    height: 100%;
    right: 50%;

    display: -webkit-box;
    display: -webkit-flex;

    display: -moz-box;
    display: -moz-flex;

    display: -ms-flexbox;

    display: flex;

    /* 水平居中*/
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-pack:center;/* IE 10 */

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;/* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/

    /* 垂直居中 */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-align:center;/* IE 10 */

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.dashboard .layer .grid-layer .grid-col {
    height: 100%;
    border: 1px solid;
}

/* grid layout */
/* width */
.w-1 {
    width: 8.33333333%;
}
.w-2 {
    width: 16.66666667%;
}
.w-3 {
    width: 25%;
}
.w-4 {
    width: 33.33333333%;
}
.w-5 {
    width: 41.66666667%;
}
.w-6 {
    width: 50%;
}
.w-7 {
    width: 58.33333333%;
}
.w-8 {
    width: 66.66666667%;
}
.w-9 {
    width: 75%;
}
.w-10 {
    width: 83.33333333%;
}
.w-11 {
    width: 91.66666667%
}
.w-12 {
    width: 100%;
}
/* height */
.h-1 {
    height: 8.33333333%;
}
.h-2 {
    height: 16.66666667%;
}
.h-3 {
    height: 25%;
}
.h-4 {
    height: 33.33333333%;
}
.h-5 {
    height: 41.66666667%;
}
.h-6 {
    height: 50%;
}
.h-7 {
    height: 58.33333333%;
}
.h-8 {
    height: 66.66666667%;
}
.h-9 {
    height: 75%;
}
.h-10 {
    height: 83.33333333%;
}
.h-11 {
    height: 91.66666667%
}
.h-12 {
    height: 100%;
}
/* x-Coordinate */
.x-0 {
    top: 0;
}
.x-1 {
    top: 8.33333333%;
}
.x-2 {
    top: 16.66666667%;
}
.x-3 {
    top: 25%;
}
.x-4 {
    top: 33.33333333%;
}
.x-5 {
    top: 41.66666667%;
}
.x-6 {
    top: 50%;
}
.x-7 {
    top: 58.33333333%;
}
.x-8 {
    top: 66.66666667%;
}
.x-9 {
    top: 75%;
}
.x-10 {
    top: 83.33333333%;
}
.x-11 {
    top: 91.66666667%
}
/* y-Coordinate */
.y-0 {
    left: 0;
}
.y-1 {
    left: 8.33333333%;
}
.y-2 {
    left: 16.66666667%;
}
.y-3 {
    left: 25%;
}
.y-4 {
    left: 33.33333333%;
}
.y-5 {
    left: 41.66666667%;
}
.y-6 {
    left: 50%;
}
.y-7 {
    left: 58.33333333%;
}
.y-8 {
    left: 66.66666667%;
}
.y-9 {
    left: 75%;
}
.y-10 {
    left: 83.33333333%;
}
.y-11 {
    left: 91.66666667%
}

.data-source-tree {
    border-right: 2px solid #ccc;
    padding-left: 30px;
}

.data-source-tree .new-data-source,
.data-source-tree .new-folder {
    display: inline-block;
    margin-right: 45px;
    margin-bottom: 30px;
}

.tree {
    width: 100%;
}

.tree ul li{
    list-style: none;
    border-radius:4px;
    margin-bottom: 5px;
    padding: 2px;
    position: relative;
}

.tree ul li.folder-item a {
    padding: 0;
    margin: 0;
}

.tree ul li.folder-item .folder-item-info:hover {
    background-color: #eeeeee;
}

.tree ul li.folder-item .folder-item-edit input{
    width: 45%;
}

.tree ul li.folder-item a.radio {
    display: inline-block;
}

.tree .folder-item .edit-buttons,
.tree .folder-item .edit-buttons div,
.tree .folder-item .folder-item-edit input {
    display: inline-block;
}

.tree .folder-item .edit-buttons {
    margin-left: 10px;
}

.tree .folder-item .edit-buttons a,
.tree .folder-item .folder-item-edit a {
    margin-left: 20px;
    color: lightseagreen;
}

.tree ul .ul-tabular{
    display: inline-block;
    position: absolute;
    left: -32px;
    width: 10px;
    height: 100%;
    border-left: 2px dashed #addbe6;
}

.tree ul li .li-tabular {
    display: inline-block;
    position: absolute;
    left: -65px;
    height: 30px;
    width: 65px;
}

.tree ul li .li-common-tabular::before,
.tree ul li .li-last-tabular::before {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 50%;
    content: '';
    border-bottom: 2px dashed #addbe6;
    border-left: 2px dashed #addbe6;
}

.tree ul li .li-common-tabular::after {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    float: right;
    width: 50%;
    height: 50%;
    content: '';
    border-left: 2px dashed #addbe6;
}

.tree ul a:hover{
    text-decoration: none;
}

.tree ul li.data-source-item {
    cursor: hand;
}

.tree ul li.data-source-item:hover {
    background-color: #dddddd;
    @border-radius-small: 5px;
}

.tree ul li.data-source-item .selected {
    background-color: #dddddd;
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tree ul .data-source-item div{
    display: inline;
    margin-right: 30px;
}

.tree ul .data-source-item .edit-buttons {
   padding-left: 40px;
}

#dataSourceTab {
    margin-bottom: 15px;
}

#dataSourceTabContent .delete-data-info {
    margin-left: 20px;
    margin-right: 20px;
}

.data-source-tab ul {
    margin-bottom: 15px;
}

.data-source-tab .data-source-info-item .delete-data-info{
    margin-left: 10px;
    margin-right: 10px;
}

.data-source-tab .operation-type {
    margin-top: 5px;
    margin-bottom: 10px;
}

select.dimension-item {
    height: 20px;
    width: 80px;
    display: inline-block;
}

.data-source-form .aggregation-item {
    float: left;
    margin-top: 7px;
}

/** splited screen scroll **/
div[sticky] {
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    width: auto;
    margin-right: 15px;
    box-sizing: border-box;
}

div[sticky].fixed {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    height: 100%;
}

@media (max-width: 960px) {
    div[sticky] {
        position: static;
        overflow: inherit;
    }

    div[sticky].fixed {
        position: static;
        overflow: inherit;
        top: auto;
        height: auto;
    }
}

.data-source .delete-data-source {
    position: fixed;
    bottom: 20px;
}

.data-source-content #data-source-info,
.data-source-content #data-source-method,
.data-source-content #data-source-test,
.data-source-content #data-source-records
{
    margin-top: 30px;
}
.data-source-content #data-source-info span.dimension-info{
    margin-right: 10px;
    padding: 5px;
}

.error-message {
    color: darkred;
}

.dropdown-submenu{
    position:relative;
}
.dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu{
    display:block;
}
.dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left{
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.navbar-inverse .right-divider-vertical {
height: 50px;
margin: 0;
border-right: 2px solid #5b5b5b;
}

.navbar-inverse .divider-vertical {
border-right-color: #222222;
border-left-color: #111111;
}

/* login */
.login-intro {
    width: 30%;
    margin: auto;
}

/* profile */
.profile {
    width: 80%;
    margin-left: 10%;
}

.profile-item {
    margin-bottom: 30px;
}

.profile-item div {
    min-height: 34px;
}

.profile-item span {
    margin-right: 5px;
}
.profile-item span.label {
    font-size: 12px;
}

.profile span.profile-token{
    word-break:normal;
    width:auto;
    display:inline-block;
    white-space:pre-wrap;
    word-wrap: break-word ;
    overflow: hidden ;
    width: 80%;
}

.profile-item button.reset-token {
    float: right;
}

.profile-item .member-item {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.label-red {
    background-color: #db7093;
}
.label-green {
    background-color: #008b8b;
}
.label-blue {
    background-color: #4682b4;
}

.profile-item span button.delete{
    font-size: 16px;
    float: none;
    margin-left: 5px;
}

.profile-item .add-user-role-modal {
    display: inline;
}

.profile-item table {
    font-size: 14px;
}