body {
  color: #25394d;
  font-size: 12px; }

a {
  color: #16a085; }

a:hover {
  color: #1abc9c; }

.cf-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  left: 0;
  position: relative;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease; }
  .cf-container.cf-nav-state-max {
    left: 230px;
    position: relative;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease; }

.cf-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
  z-index: 100;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease; }
  .cf-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .cf-nav a {
    display: inline-block;
    position: relative; }
    .cf-nav a:hover {
      text-decoration: none; }
  .cf-nav .cf-nav-min {
    width: 25px;
    text-align: center;
    display: block;
    padding: 8px 3px; }
    .cf-nav .cf-nav-min:hover {
      text-decoration: none; }
  .cf-nav .cf-nav-max {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    padding: 8px 10px 8px 0; }
  .cf-nav .icon-bar {
    display: block;
    width: 17px;
    height: 2px;
    margin: 3px 4px 0 4px; }
  .cf-nav .cf-nav-toggle {
    display: block;
    margin: 8px 0 8px 0; }
  .cf-nav ul ul a {
    padding: 8px 3px 8px 25px; }
  .cf-nav a:active {
    outline: none; }

.cf-nav-state-min .cf-nav-max {
  display: none; }
.cf-nav-state-min li {
  display: none; }
  .cf-nav-state-min li.cf-nav-shortcut {
    display: inline-block;
    width: 100%; }

.cf-nav-state-max li {
  display: list-item;
  width: 100%; }
  .cf-nav-state-max li a {
  width: 280px; }
  .cf-nav-state-max li .cf-nav-min,
  .cf-nav-state-max li .cf-nav-max {
    display: inline-block; }
  .cf-nav-state-max li .cf-nav-max {
    width: 190px; }
.cf-nav-state-max.cf-nav {
  width: 290px;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease; }

.cf-item {
  height: 100%;
  position: relative; }
.cf-item header {
  text-transform: uppercase;
  border-bottom: solid 1px; }
  .cf-item header p {
    margin: 5px 0 5px 0;
    white-space: nowrap; }
    .cf-item header p span {
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-bottom: 2px;
      margin-right: 5px; }
.cf-item .content {
  width: auto;
  margin: 0 auto;
  padding: 0px;
  left: 10px;
  right: 10px;
  height: auto;
  top: 43px;
  bottom: 10px;
  position: absolute; }

@media (min-width: 768px) {
  .row [class*="col"] .inner {
    height: 70%; }

/* Color definitions */
body.black {
  background-color: #2b2b2b;
  color: darkgrey; }
  body.black .m-missing {
    color: #4f4f4f !important; }
  body.black .mb-missing {
    background-color: #4f4f4f !important; }
  body.black .cf-nav {
    background: #333333; }
    body.black .cf-nav a {
      color: darkgrey; }
      body.black .cf-nav a.active {
        background-color: #2b2b2b; }
      body.black .cf-nav a:hover {
        background-color: #4f4f4f;
        color: darkgrey; }
    body.black .cf-nav .icon-bar {
      background-color: darkgrey; }
    body.black .cf-nav .cf-nav-toggle:hover {
      background-color: inherit; }
      body.black .cf-nav .cf-nav-toggle:hover .icon-bar {
        background-color: #fff; }
  body.black .navbar {
    background-color: #4f4f4f; }
  body.black .navbar-default .navbar-nav > .active > a, body.black .navbar-default .navbar-nav > .active > a:hover, body.black .navbar-default .navbar-nav > .active > a:focus {
    background-color: darkgrey; }
  body.black .cf-item header {
    border-bottom-color: #4f4f4f; }
    body.black .cf-item header p span {
      background-color: #4f4f4f; }
  body.black .metric {
    color: #f2f2f2; }
  body.black .cf-rag ul li {
    border-bottom: solid 1px #2b2b2b; }
    body.black .cf-rag ul li:last-child {
      border-bottom: none; }
  body.black .cf-rag .cf-figs li,
  body.black .cf-rag .cf-txts li {
    border-bottom: solid 1px #4f4f4f; }
    body.black .cf-rag .cf-figs li:last-child,
    body.black .cf-rag .cf-txts li:last-child {
      border-bottom: none; }
  body.black .cf-funnel .cf-funnels li {
    border-bottom: solid 1px #2b2b2b; }
  body.black .cf-funnel .cf-figstxts li {
    border-bottom: solid 1px #4f4f4f; }
    body.black .cf-funnel .cf-figstxts li:last-child {
      border-bottom: none; }
body.white {
  background-color: white;
  color: darkgrey; }
  body.white .m-missing {
    color: #e2e2e2 !important; }
  body.white .mb-missing {
    background-color: #e2e2e2 !important; }
  body.white .cf-nav {
    background: #ececec; }
    body.white .cf-nav a {
      color: #a8a8a8; }
      body.white .cf-nav a.active {
        background-color: white; }
      body.white .cf-nav a:hover {
        background-color: #e2e2e2;
        color: darkgrey; }
    body.white .cf-nav .icon-bar {
      background-color: darkgrey; }
    body.white .cf-nav .cf-nav-toggle:hover {
      background-color: inherit; }
      body.white .cf-nav .cf-nav-toggle:hover .icon-bar {
        background-color: #000; }
  body.white .cf-item header {
    border-bottom-color: darkgrey; }
    body.white .cf-item header p span {
      background-color: darkgrey; }
  body.white .metric {
    color: #7d7d7d; }
  body.white .cf-rag ul li {
    border-bottom: solid 1px white; }
    body.white .cf-rag ul li:last-child {
      border-bottom: none; }
  body.white .cf-rag .cf-figs li,
  body.white .cf-rag .cf-txts li {
    border-bottom: solid 1px darkgrey; }
    body.white .cf-rag .cf-figs li:last-child,
    body.white .cf-rag .cf-txts li:last-child {
      border-bottom: 0; }
  body.white .cf-funnel .cf-funnels li {
    border-bottom: solid 1px white; }
    body.white .cf-funnel .cf-funnels li:last-child {
      border-bottom: none; }
  body.white .cf-funnel .cf-figstxts li {
    border-bottom: solid 1px darkgrey; }
    body.white .cf-funnel .cf-figstxts li:last-child {
      border-bottom: none; }
  body.white .cf-rss .carousel-indicators .active {
    background-color: darkgrey; }
  body.white .cf-rss .carousel-indicators li {
    border: 1px solid darkgrey; }

.m-red {
  color: #f23c25 !important; }
  .m-red.mb {
    background-color: #f23c25; }
  .m-red .arrow-up {
    border-color: transparent transparent #f23c25 transparent; }
  .m-red .arrow-down {
    border-color: #f23c25 transparent transparent transparent; }

.m-amber {
  color: #e89640 !important; }
  .m-amber.mb {
    background-color: #e89640; }
  .m-amber .arrow-up {
    border-color: transparent transparent #e89640 transparent; }
  .m-amber .arrow-down {
    border-color: #e89640 transparent transparent transparent; }

.m-green {
  color: #66ce39 !important; }
  .m-green.mb {
    background-color: #66ce39; }
  .m-green .arrow-up {
    border-color: transparent transparent #66ce39 transparent; }
  .m-green .arrow-down {
    border-color: #66ce39 transparent transparent transparent; }

/* Arrows */
.arrow-up {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 12.5px 21.7px 12.5px; }

.arrow-down {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 21.7px 12.5px 0 12.5px; }

/******************
 Widget definitions
*******************/
/** MODULE: Single value metric with change **/
.cf-svmc {
  }
  .cf-svmc .change {
    line-height: 1; }
    .cf-svmc .change.metric-small {
      font-size: 2.5em; }

/* Single value metric with change media queries */
@media (min-width: 768px) {
  .col-sm-6 .col-sm-4 .change {
    margin-top: 5px; }
    .col-sm-6 .col-sm-4 .change.metric-small {
      font-size: inherit; }

  .col-sm-6 .col-sm-12 .col-sm-6 .change {
    margin-top: 5px; }
  .col-sm-3 .change {
    margin-top: 5px; } }
@media (min-width: 992px) {
  .col-sm-3 .change.metric-small {
    font-size: 2em; } }
@media (min-width: 1200px) {
  .col-sm-3 .change.metric-small {
    font-size: 2.5em; } }
@media (min-width: 1400px) {
  .col-sm-3 .change.metric-small {
    font-size: 3em; }}
@media (min-width: 1600px) {
  .col-sm-3 .change.metric-small {
    font-size: 3.5em; } }
@media (min-width: 1800px) {
  .col-sm-6 .col-sm-4 .change.metric-small {
    font-size: 2.5em; }
  .col-sm-3 .change.metric-small {
    font-size: 4em; } }
@media (min-width: 2000px) {
  .col-sm-6 .col-sm-4 .change.metric-small {
    font-size: 3em; }
  .col-sm-3 .change.metric-small {
    font-size: 4.5em; } }

/** MODULE: Single value pie **/
.cf-svp .chart {
  float: left; }

/* Single value pie media queries */
@media (min-width: 768px) {
  .cf-svp {
    position: relative; }
    .cf-svp .chart {
      float: none; }
    .cf-svp canvas {
      display: block;
      margin: 0 auto; }

/** MODULE: Single value metric and change with sparkline **/
.cf-svmc-sparkline {
  width: 100%; }
  .cf-svmc-sparkline .cf-svmc .change {
    margin-top: 0; }
  .cf-svmc-sparkline .cf-sparkline {
    margin-top: 10px;
    margin-bottom: 10px; }
    .cf-svmc-sparkline .cf-sparkline .sparkline {
      float: left; }
    .cf-svmc-sparkline .cf-sparkline .sparkline-value {
      display: table;
      float: left;
      padding-left: 10px; }
      .cf-svmc-sparkline .cf-sparkline .sparkline-value .metric-small {
        display: table-cell;
        vertical-align: middle; }
    }
}
